@import url(https://fonts.googleapis.com/css?family=Oranienbaum);
/*for h2*/


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right:15px;
  width:1100px;
}

.leftside {
  float:left;
  width: 80%;
}

.main {
  margin-right: auto;
  margin-left: 13%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Oranienbaum', serif;
  border: 3px 1px 1px 1px;
  border-color: black;
  width: 20%;
  height:25%;

}

h2 {
  text-transform: uppercase;
  font-family: serif;

}

html {
  background-color: #BCD1D1;
}

header {
  background-color: black;
  height: 100px;
}

header h1 {
  margin: 0 0 0 8%;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  text-align: right;
  width: 40%;
  padding-top: 4%;
  padding-bottom:.5%;
  font-size: .75em;
  border-bottom:1px solid white;
  width: 30%;
}
/*
header hr {
  width: 40%;
  color: white;
  float:left;*/

}
