@import url(https://fonts.googleapis.com/css?family=Oranienbaum);

body {
  background-color: #BCD1D1;
  margin:auto;
  padding: 8px;
  width: 79%;
}

header {
  background-color: black;
  height: 100px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0 0 0 8%;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  text-align: right;
  padding-top: 4%;
  padding-bottom:.5%;
  font-size: .75em;
  border-bottom:1px solid white;
  width: 30%;
}

h2 {
 text-transform: uppercase;
 font-family: 'Oranienbaum', serif;
 margin: 0px auto 0px 0px;
 font-size: 2em;
}

h3 {
    /*display: block;*/
    font-size: 1.25em;
    margin: 5px 5px 5px 4px;
    font-weight: bold;
    color: black;
}

main {
  width: 79%;
  float: left;
  margin: 0px 0px 0px 0px;
}

p {
  margin: 5px;
  line-height: 15px;
}

img {
vertical-align: top;
display:inline-block;
}

aside section {
  text-transform: uppercase;
  font-weight:bold;
  margin:11px;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
  border-bottom:5px solid #BCD1D1;
}

aside {
  float: right;
  width: 17.5%;
  border: 1px solid black;
  height:1025px;
  background-color: white;
  padding-top:20px;
  padding-right:10px;
  padding-bottom:20px;
  padding-left:10px;
  border-top: 10px solid black;
  text-align:center;
  font-size: .85em;
  line-height:8px;
}

aside img {
  margin:10px;
}

/*aside p {
  line-height:0px;
}*/

.topborder {
  border: 1px solid black;
  border-top: 10px solid black;
  padding: 10px;
  background-color: white;
}

.bottomborder {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom:10px;
  height:auto;
  display: inline-block;
  background-color: white;
}

.articlefont {
  font-family: arial;
  color: gray;
  font-size: .75em;
  line-height: 90%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.middle {
  display:block;
  margin: auto;
}

.fiftywidth {
  width: 49%;
}

.fortywidth {
  width: 40%;
}

.thirtywidth {
  width: 30%;
}

.bolded {
  font-size: .70em;
  font-weight: 900;
  color: black;
}

.logo {
  height: 35px;
  width: 35px;
}

.topmargin {
  margin-top: -9.5%;
}

.margin {
  margin: 5px 5px 5px 5px;
}

.bigimgmargin {
  margin-right: 10px;
}

.clearfloat {
  clear:both;
}

#rightcolumn {
  height: 379px;
}
