@import url(https://fonts.googleapis.com/css?family=Oranienbaum);
/*for h2*/


.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1% 1% 1%;
  width:90%;
}

main {
  float:left;
  width: 80%;
}

.bigtopcontainer {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 1% 1% 1% 1%;
  font-family: 'Oranienbaum', serif;
  border: 1px solid black;
  border-top: 10px solid black;
  width: 80%;
  height:50%;


}

hr {
  border:0 0 0 0;
  color: black;
}

h2 {
  text-transform: uppercase;
  font-family: serif;

}

html {
  background-color: #BCD1D1;
}

header {
  background-color: black;
  height: 100px;
}

header h1 {
  margin: 0 0 0 8%;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  text-align: right;
  width: 40%;
  padding-top: 4%;
  padding-bottom:.5%;
  font-size: .75em;
  border-bottom:1px solid white;
  width: 30%;
}
/*
header hr {
  width: 40%;
  color: white;
  float:left;*/

}
